<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "SuiteMarco">
    <test name = "Test Chrome">
        <parameter name="BrowserType" value="Chrome"></parameter>
        <classes>
            <class name = "Support.runTest"/>
        </classes>
    </test>
    <test name = "Test Edge">
        <parameter name="BrowserType" value="Internet Explorer"></parameter>
        <classes>
            <class name = "Support.runTest"/>
        </classes>
    </test>
    <test name = "Test Firefox">
        <parameter name="BrowserType" value="firefox"></parameter>
        <classes>
            <class name = "Support.runTest"/>
        </classes>
    </test>
</suite>